{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url('/css/app.css') }}"   /> 

{% endblock %}

{% block container_principal %}

    <!-- acordeón -->    

    <div class="container">
        <div class="panel-group" id="accordion">

            <!-- primer renglon del acordeon -->
            <div class="panel panel-default">
                <div class="panel-heading" >
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <h2 id="nombre">{{ establecimiento.nombre }}</h2></a>

                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h4>
                            <!-- edificios es establecimiento -->
                            {% set establecimiento_edificios = establecimiento.edificios %}

                            {% for establecimiento_edificio in establecimiento_edificios %}
                                {% if establecimiento_edificio.isSede() %} 
                                    {% set edificio = establecimiento_edificio.edificio %}
                                    D.E.: {{ edificio.distritoEscolar }} - 
                                    Comuna: {{ edificio.comuna }} - 
                                {%  endif %}
                            {% endfor %}
                            CUE: {{ establecimiento.cue }} - Área: {{ establecimiento.area.codigo | default('s/d') }}
                        </h4>

                    </div>
                </div>
            </div>
            <!-- fin primer renglon del acordeon -->


            <!-- paneles de los anexos -->

            {# datos de cada sede #}
            {% set paneles  = 1 %}
            {% for establecimiento_edificio in establecimiento_edificios %}

                {% set edificio = establecimiento_edificio.edificio %}
                {% if establecimiento_edificio.isSede %}
                    {% set localizacion = 'Sede'  %}
                {%  else %}
                    {% set localizacion = 'Anexo ' ~ establecimiento_edificio.cueAnexo  %}
                {%  endif %}
                {% set paneles  = paneles + 1 %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {%  set colapsar = 'collapse' ~ paneles %}

                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ colapsar }}">
                                {{ localizacion ~ ': ' ~ edificio.domicilioPrincipal }} - {{ edificio.barrio }}
                            </a>
                        </h4>
                    </div>
                    <div id="{{ colapsar }}" class="panel-collapse collapse">
                        <div class="panel-body">

                            <!-- empiezan los paneles de cada localización -->

                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-bold"><strong><em>Datos generales</em></strong></div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div>TE: {{ establecimiento_edificio.te | default('s/d')}}</div>
                                                <div>Email: {{ establecimiento_edificio.mail | default('s/d') }}</div>
                                                <div>Código postal:</div>
                                                <div>Sitio web: <a href="{{ establecimiento.url }}" target="_blank">{{ establecimiento.url }}</a></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>Barrio: {{ edificio.barrio }}</div>
                                                <div><a href="{{ path('vecinos_en_un_edificio', {'establecimiento_edificio': establecimiento_edificio.id } ) }}">Con quien comparte edificio</a></div>
                                                <div>Inspector/a de infraestructura:</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- panel de la agenda -->

                                <div class="panel panel-default">
                                    <div class="panel-heading text-bold"><strong><em>Agenda</em></strong></div>
                                    <div class="panel-body">En construcción</div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading text-bold"><strong><em>Carreras</em></strong></div>
                                    <div class="panel-body">En construcción</div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading text-bold"><strong><em>Niveles y turnos</em></strong></div>
                                    <div class="panel-body">
                                        {% for localizacion in establecimiento_edificio.localizaciones %}
                                            <div>{{ localizacion.unidadEducativa.nivel}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            

            {% endfor %}

            <!-- hasta aca iteran las sedes -->



            <!-- uptimo panel del establecimiento -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                            Otros datos del establecimiento</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        Fecha de creación del establecimiento: 01-01-1905</br>
                        Fecha de las elecciones: Sin datos</br>
                        Fecha de finalización del mandato: Sin datos</br>
                        Tiene cooperadora: sd</br>
                        Campo de deportes: Sin datos</br>
                        Año de inicio de la Nueva Escuela Secundaria: Sin datos</br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fin acordeon -->

{%  endblock %}
