{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url('/css/app.css') }}"   /> 

{% endblock %}

{% block container_principal %}

    {% set edificioSede = '' %}

    <div>
        {# nombre del establecimiento #}
        <div class="row">
            <h1>{{ establecimiento.nombre }}</h1>
            <h3>
                {% for edificio in establecimiento.edificios %}
                    {% if edificio.isSede() %} 
                        {% set edificioSede = edificio.edificio %}
                        D.E.: {{ edificioSede.distritoEscolar }} - 
                        Comuna: {{ edificioSede.comuna }} - 
                    {%  endif %}
                {% endfor %}
                CUE: {{ establecimiento.cue }} - Área: {{ establecimiento.area.codigo }}
            </h3>
        </div>
            
        {# domicilio principal #}
        <div class="row">
            {% for domicilio in edificioSede.domicilios %}
                {%  if domicilio.principal %}
                    <h3 class='resaltado'>
                        {{ domicilio.calle ~ ' ' ~ domicilio.altura}}
                    </h3>
                {% endif %}
            {% endfor %}
        </div>
        
        {# otros datos #}
        <div class="row">
            <div class="col-md-12" style="border: solid 1px;">
                <p>Edificio(s) (con quien comparte edificio)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="border: solid 1px;">
                <p class="resaltado">Niveles en el edificio</p>
                {% for unidadEducativa in establecimiento.unidadEducativa %}
                    {{ unidadEducativa.nivel.nombre }}</br>
                {% endfor %}
            </div>
        </div>
    </div>
{%  endblock %}