{% extends 'base.html.twig' %}

{% block container_principal %}

<br />

<h1>Acerca de </h1>
<br />
<br />
<h2>{{ APP_NAME }}</h2>
<p>Versi贸n: {{ VERSION }}</p>
<p>Desarrollado con:</p>
<p>Versi贸n de Symfony: {{ VERSION_SYMFONY }}</p>
<p>Versi贸n de Doctrine: {{ VERSION_DOCTRINE }}</p>
<p>Versi贸n de Mysql: {{ VERSION_MYSQL }}</p>
<p>********************* const.VERSION_APACHE  </p>

    
{% endblock %}