{% extends 'base.html.twig' %}

{% block container_principal %}

<br />

<h1>Acerca de </h1>
<br />
<br />
<h1>De los yaml</h1>
<p>{{ APP_NAME }}</p>
<p>Versi贸n: {{ VERSION }}</p>
<p>Desarrollado con:</p>
<p>Versi贸n de Symfony: {{ VERSION_SYMFONY }}</p>
<p>Versi贸n de Doctrine: {{ VERSION_DOCTRINE }}</p>
<p>Versi贸n de Mysql: {{ VERSION_MYSQL }}</p>

<h1>De la clase de constantes pasada a twig como 'globals'</h1>
<p>NOMBRE: {{ constantes_generales.NOMBRE }}</p>
<p>NOMBRE_CORTO: {{ constantes_generales.NOMBRE_CORTO }}</p>
<p>VERSION_LOGICA: {{ constantes_generales.VERSION_LOGICA }}</p>
<p>VERSION_SYMFONY: {{ constantes_generales.VERSION_SYMFONY }}</p>
<p>VERSION_DOCTRINE: {{ constantes_generales.VERSION_DOCTRINE }}</p>

<h1>De la clase de constantes pasada desde el controller</h1>
<p>NOMBRE: {{ NOMBRE }}</p>
<p>NOMBRE_CORTO:     {{ NOMBRE_CORTO }}</p>
<p>VERSION_LOGICA:   {{ VERSION_LOGICA }}</p>
<p>VERSION_SYMFONY:  {{ VERSION_SYMFONY }}</p>
<p>VERSION_DOCTRINE: {{ VERSION_DOCTRINE }}</p>
    
{% endblock %}