<nav class="navbar navbar-tomato navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('backend') }}">FD - Backend</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Edificio
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Alta de edificio y domicilio</a>
                    </li>

                </ul>
            </li>
        </ul>
            {#            
                        <!-- menu carreras -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-list"></span>
                                Carreras
                                <span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Buscar</a></li>
                                    <li><a href="#">Nómina completa</a></li>
                                </ul>
                            </a>
                        </li>
                        <!-- menu niveles -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-signal"></span>
                                Niveles
                                <span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Inicial</a></li>
                                    <li><a href="#">Primario</a></li>
                                    <li><a href="#">Medio</a></li>
                                </ul>
                            </a>
                        </li>     
                    </ul>
            #}
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <!-- el usuario tienen un array de roles -->
                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            <li><a href="{{ path('portada') }}">Frontend</a></li>
                            <li role="separator" class="divider"></li>
                            {% endif %}
                        <li><a href="{{ path('cambiar_password') }}">Cambiar password</a></li>
                        <li><a href="{{ path('datos_personales') }}">Datos personales</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('app_logout') }}">Cerrar sesión</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>